@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 20vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-nav {
    width: 35%;
}

.contenedor-nav nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-button {
    width: 8rem;
    height: 2.5rem;
    font-size: 13px;
    font-weight: light;
    color: #FFFFFF;
    background-color: #8B48BF;
    border: none;
    border-radius: 2rem;
}

.contenedor-nav li:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

/* Section 1 */

.contenedor-article-s1 {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-live {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-padleImg {
    width: 50%;
    height: 100%;
}

h1 {
    font-size: 50px;
    text-align: right;
    font-weight: bold;
}

.contenedor-padleTextButton {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

.contenedor-padleTextButton p {
    font-size: 16px;
    text-align: right;
}

/* Section 2 */

.contenedor-pros-s2 {
    height: 33vh;
    width: 100%;
    background-color: #8B48BF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor-h2-s2 {
    width: 50%;
    color: #FFFFFF;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.contenedor-p-s2 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.contenedor-p-s2 p{
    text-align: left;
    margin-right: 20%;
    color: #FFFFFF;
}

.contenedor-description {
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-description button {
    width: 4rem;
    height: 2rem;
    font-size: 13px;
    font-weight: light;
    color: #FFFFFF;
    background-color: #8B48BF;
    border: none;
    border-radius: 2rem;
    position: relative;
    bottom: 22%;
    right: 1%;
}

.contenedor-track {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5%;
}

.contenedor-track h4 {
    margin-bottom: 1rem;
    color: #323851;
    font-size: 16px;
    font-weight: bold;
}

.contenedor-track p {
    color: #B3B2B7;
}

.contenedor-advance {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.contenedor-advance h4 {
    margin-bottom: 1rem;
    color: #323851;
    font-size: 16px;
    font-weight: bold;
}

.contenedor-advance p {
    text-align: left;
    font: 16px;
    color:#B3B2B7;
}

.contenedor-bottom-s2 {
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-bottom-s2 button {
    width: 4rem;
    height: 2rem;
    font-size: 13px;
    font-weight: light;
    color: #FFFFFF;
    background-color: #8B48BF;
    border: none;
    border-radius: 2rem;
    position: relative;
    bottom: 2%;
    right: 1%;
}

.contenedor-every {
    width: 25%;
}

.contenedor-every h4 {
    margin-bottom: 1rem;
    color: #323851;
    font-size: 16px;
    font-weight: bold;
}

.contenedor-every p {
    font-size: 16px;
    color: #B3B2B7;
}

.contenedor-every button {
    width: 4rem;
    height: 2rem;
    font-size: 13px;
    font-weight: light;
    color: #FFFFFF;
    background-color: #8B48BF;
    border: none;
    border-radius: 2rem;
}

/* Section 3 */

.contenedor-s3 h2 {
    font-size: 38px;
    color: #242E53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-s3 button {
    width: 8rem;
    height: 2.5rem;
    font-size: 13px;
    font-weight: light;
    color: #FFFFFF;
    background-color: #8B48BF;
    border: none;
    border-radius: 2rem;
    position: relative;
    left: 46%;
    top: 10%;
}

/* Tarjetas Jugadores */

.contenedor-tarjetas {
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.tarjeta-sanyo {
    width: 25%;
    text-align: center;
}

.tarjeta-sanyo h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tarjeta-sanyo p {
    color: #B3B2B7;
}

.tarjeta-lebron {
    width: 25%;
    text-align: center;
}

.tarjeta-lebron h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tarjeta-lebron p {
    color: #B3B2B7;
}

.tarjeta-navarro {
    width: 25%;
    text-align: center;
}

.tarjeta-navarro h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tarjeta-navarro p {
    color: #B3B2B7;
}

/* Footer */

/* Top - Footer */

.top-footer {
    margin-top: 10%;
    width: 100%;
    height: 25vh;
    background-color: #8B48BF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.h2-top-footer {
    width: 400px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
}

.button-top-footer button {
    width: 8rem;
    height: 2.5rem;
    font-size: 13px;
    font-weight: light;
    color: #8B48BF;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2rem;
}

/* Bottom - Footer */

.bottom-footer {
    width: 100%;
    height: 25vh;
    background-color: #1E1E26;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.firstBlock-footerBottom {
    width: 33%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.firstBlock-footerBottom img {
    margin-bottom: 5%;
}

.lista-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Contendores Listas */

.contenedor-lista1 {
    width: 33vh;
}

.contenedor-lista1 ul {
    width: 33%;
    height: 15vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
    color: #FFFFFF;
    text-align: left;
}

.contenedor-lista2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contenedor-lista2 ul {
    width: 33%;
    height: 15vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
    color: #FFFFFF;
    text-align: left;
}

.footer-inputArea {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-inputArea input {
    width: 150px;
    height: 2rem;
    border: none;
    border-radius: 1.2rem;
    font-size: 10px;
    padding-left: 5%;
}

.footer-inputArea button {
    width: 3rem;
    height: 2rem;
    font-size: 13px;
    font-weight: light;
    color: #FFFFFF;
    background-color: #8B48BF;
    border: none;
    border-radius: 2rem;
}

.footer-inputArea p {
    color: #8C8C94;
    font-size: 12px;
    font-weight: light;
    margin-top: 25%;
}

/* Responsive */

@media (max-width: 480px) {
    header nav {
        visibility: hidden;
    }

    header button {
        visibility: hidden;
    }

    
}